body
{
    /*background-image: url("../images/color_strip.gif");*/
	padding: 0;
	margin: 0;
	font-family: arial, helvetica, serif;
	background-color: #0C1416;

} 

@-ms-viewport{
  width: device-width;
}


#logo
{
width: 700px;
min-height: 60px;
background-image: url("../images/nai.png");
margin-left: 171px;
float: left;
margin-top: 35px;

}


#want
{

width: 157px;
min-height: 39px;
float: left;
margin-right: 211px;
margin-top: 39px;
color: #fff; font-size: 14px; 
line-height: 37px;
background: url("../images/button1.png") right top no-repeat; 
box-shadow: 0 0 1px #797979;
-moz-box-shadow: 0 0 1px #797979;
-webkit-box-shadow: 0 0 1px #797979;
margin-left: 20px;
padding: 0 50px 0 20px; 
border: 1px solid #3b3b3b; 
-webkit-border-radius: 30px;
-moz-border-radius: 30px; 
border-radius: 30px;
cursor: pointer;
			
}


#contact
{
width: 1000px;
min-height: 1180px;
margin-top: 20px;
margin-left: 170px;
float: left;
background-color: yellow;
background: url('/images/back.png') ;
float: left;
background: #3b3b3b;
box-shadow:inset 0 0 10px #262626; 
-moz-box-shadow: inset 0 0 10px #262626;
-webkit-box-shadow: inset 0 0 10px #262626;

}



#contact ul 
{
				
list-style: none;
font-size: 14px; color: #ccc;
 text-align: left;
				
}
#contact h1 
{
margin-bottom: 5px;

}

#contact ul ol 
{
					

padding-left: 25px;
padding-bottom: 1.5em;
font-family: arial;
font-size: 15px;
}

#contact ul ul
 {
list-style: disc;
background: transparent;
box-shadow: none; 
-moz-box-shadow: none;
-webkit-box-shadow: none;
max-width: none;
padding: 0 0 1.5em 25px;
margin: 0 auto; 
border: 0;



}

#contact a
 {
color: #fff;
text-decoration: underline;
}

#contact a:hover 
{
color: #fff; 
text-decoration: none;
}


h1
{
font: normal normal 21px/1.4em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
text-transform: none; 
color: #fff;

}


h2
{
font: normal normal 14px/1.7em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
text-transform: none;
color: #ccc;
}



nav 
{
color: #000;
background: #e3e730;
padding: 20px 0;
width: 1349px;
min-width: 105px;
float: left;
margin-top: 35px;

}


.tag 
{
font-size: 24px;
line-height: 1.2em;
vertical-align: middle;
margin-right: 35px;
display: inline-block;
width: 657px;
min-height: 28px;
margin-left: 273px;

}
.subtag 
{
font-size: 18px;
 line-height: 1.2em;
vertical-align: middle;
margin-top: 10px;
display: block;
width: 1033px;
text-align: center;
min-height: 21px;
float: left;

}
.subtagline a, .subtagline a:hover 
{
color: #fff; 
vertical-align: baseline;
background: transparent;
padding: 0; 
margin-left: 0; border: 0;
display: inline;

}

nav a 
{
vertical-align: middle;
line-height: 15px;
margin-left: 5px; 
padding: 8px 9px 9px;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px;
border-radius: 5px;
display: inline-block;

}
nav a img
{
vertical-align: middle;
display: inline-block;
}
nav a:hover 
{
background: #f2f708;
border: 1px solid #c8cc03; 
padding: 7px 8px 8px;

}
		
nav a.on 
{
background: #f2f708;
box-shadow: inset 0 1px 1px #c8cc03;
-moz-box-shadow: inset 0 1px 1px #c8cc03;
-webkit-box-shadow: inset 0 1px 1px #c8cc03;
border: 1px solid #c8cc03;
border-top-color: #c8cc03; 
padding: 7px 8px 8px;

}
		

article 

{
background: #fff;
float: left;


}


.clearfix:after
{
	content: " ";
	display: table-cell;
	clear: both;
}
ul.startups
{
	list-style: none;
	margin: 0;
	padding: 0;
	min-height: 100px;
}
ul.startups li
{
position: relative;
display: block;
width: 100%;
height: 231px;
line-height: 231px;
text-align: center;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;

float: left;

overflow: hidden;

-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

ul.startups li img{
	position: relative;
	display: inline-block;
	max-width: 160px;
	vertical-align: middle;

}

.hiring 

{
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 76px; 
	height: 76px;

}
ul.startups li .hiring img{
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}




	
	article {
		background: #fff;
		width: 1349px;
	}
		article ol  {
			text-align: left; color: #ccc; font-size: 18px; line-height: 2.2em;
			width: 715px; margin: 0 auto; padding: 35px 10px;
		}
			article ol li {
				padding-left: 10px;
			}
			article ol a {
				color: #191919;
			}
				article ol a:hover {
					color: #191919; text-decoration: underline;
				}
		
		article ul {
			max-width: 1425px; min-width: 994px; margin: 0 auto;
			overflow: hidden;
		}
			article ul li {
				text-align: center; line-height: 130px;
				width: 33.33333%;
				position: relative; float: left;
			}








@media only screen and (min-width:360px) and (max-width:719px){
	ul.startups li{
		width: 50%;
	}

	ul.startups li:nth-child(even){
		border-right: none;
	}
	
}

@media only screen and (min-width:720px) and (max-width:1023px){
	ul.startups li{
		width: 33.33%;
	}

	ul.startups li:nth-child(3n+3){
		border-right: none;
	}
}

@media only screen and (min-width:1024px){
	ul.startups li{
		width: 25%;
	}

	ul.startups li:nth-child(4n+4){
		border-right: none;
	}
}
